<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MueblesSTGO</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    h3 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
</head>
<body>
<h1>Sistema MueblesSTGO: Generación de planillas</h1>
<h3>
  <div class = "container">
    <form action = "/planillas/generate" method="post">
      Ingresar mes y año:
      <input type="number" name="mes" value = "{1,12}">
      <input type="number" name = "anyo">
      <button type="submit">Generar</button>
    </form>
  </div>
</h3>
</body>
</html>